
.flexRow {
  display: flex;
  flex-direction: row;
}
.appName {
    margin-right: 2px;
    font-family: monospace;
    font-weight: 700;
    letter-spacing: 0.3rem;
    color: #33FFF2;
    text-decoration: none;
  }